@{
    ViewBag.Title = "About";
}
<h2 style="margin-top:80px;">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Job Offers Website is created and managed by Student of FCIS-BNS,
</p>
<p>
    we want to serve +1 MILLION top companies and employers in Egypt, +1 MILLION CVs will be 
    viewed on our platform and +1 MILLION job seekers will directly hired through us.
    We're helping employers and job seekers from Egypt find their right match through our intelligent 
    real-time recommendations and around the clock support.
</p>

<h3>Looking for a job?</h3>
<p>
    If you are searching for a new career opportunity, you can search open vacancies and jobs. You can also 
    signup to be alerted of new jobs by email.
</p>

<h3>Are you a recruiter or employer?</h3>
<p>
    If you are currently hiring, and would like to advertise your jobs on Wuzzuf.net, please signup for an 
    publishers account and post your jobs right away.
</p>

<h3>Other inquiries?</h3>
<p>
    If you have any other inquiries, please contact us.
</p>
